workflow.json
{
  "name": "WonderWomen_ai_bot_Portfolio",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "----",
      "name": "Telegram Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a task extraction assistant.\n\nToday’s date is: {{ $now.format(\"YYYY-MM-DD\") }}\n\nConvert the user message into structured JSON.\n\nRules:\n\n1. Always return valid JSON only.\n2. Date must be in YYYY-MM-DD format.\n3. Time must be in HH:mm (24-hour) format.\n4. If the user says \"today\", use today's real date.\n5. If the user says \"tomorrow\", calculate tomorrow’s real date.\n6. If user gives weekday (like Sunday), calculate the next upcoming occurrence.\n7. If no date is mentioned, assume tomorrow.\n8. If no time is mentioned, assume 09:00.\n9. If user mentions \"invite\" followed by email, extract it into attendees_emails array.\n10. Duration default: 60 minutes.\n11. If user mentions duration like \"2 hr\", \"2 hours\", \"30 mins\", convert it into duration_minutes.\n\nOutput format:\n\n{\n  \"title\": \"\",\n  \"date\": \"\",\n  \"time\": \"\",\n  \"duration_minutes\": 60,\n  \"attendees_emails\": []\n}"
            },
            {
              "role": "=user",
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        144,
        48
      ],
      "id": "---",
      "name": "Message a model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "---",
              "leftValue": "={{ \nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text)\n  .attendees_emails.length\n}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        112
      ],
      "id": "",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your-calendar-id@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{\n(() => {\n  const raw = $node[\"Message a model\"].json.output[0].content[0].text;\n  const data = JSON.parse(raw);\n\n  return `${data.date}T${data.time}:00`;\n})()\n}}",
        "end": "={{\n(() => {\n  const raw = $node[\"Message a model\"].json.output[0].content[0].text;\n  const data = JSON.parse(raw);\n\n  const [hour, minute] = data.time.split(\":\");\n  const start = new Date(`${data.date}T${data.time}:00`);\n\n  start.setMinutes(start.getMinutes() + data.duration_minutes);\n\n  const yyyy = start.getFullYear();\n  const mm = String(start.getMonth() + 1).padStart(2, \"0\");\n  const dd = String(start.getDate()).padStart(2, \"0\");\n  const hh = String(start.getHours()).padStart(2, \"0\");\n  const min = String(start.getMinutes()).padStart(2, \"0\");\n\n  return `${yyyy}-${mm}-${dd}T${hh}:${min}:00`;\n})()\n}}",
        "useDefaultReminders": "={{ false }}",
        "additionalFields": {
          "attendees": [
            "={{ \nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text)\n  .attendees_emails?.[0] \n}}"
          ],
          "summary": "={{\nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text).title\n}}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 60
            },
            {
              "method": "popup",
              "minutes": 30
            },
            {
              "method": "popup",
              "minutes": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        -96
      ],
      "id": "-----7",
      "name": "Create an event with Attendees",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "----",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your-calendar-id@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{\n(() => {\n  const raw = $node[\"Message a model\"].json.output[0].content[0].text;\n  const data = JSON.parse(raw);\n\n  return `${data.date}T${data.time}:00`;\n})()\n}}",
        "end": "={{\n(() => {\n  const raw = $node[\"Message a model\"].json.output[0].content[0].text;\n  const data = JSON.parse(raw);\n\n  const [hour, minute] = data.time.split(\":\");\n  const start = new Date(`${data.date}T${data.time}:00`);\n\n  start.setMinutes(start.getMinutes() + data.duration_minutes);\n\n  const yyyy = start.getFullYear();\n  const mm = String(start.getMonth() + 1).padStart(2, \"0\");\n  const dd = String(start.getDate()).padStart(2, \"0\");\n  const hh = String(start.getHours()).padStart(2, \"0\");\n  const min = String(start.getMinutes()).padStart(2, \"0\");\n\n  return `${yyyy}-${mm}-${dd}T${hh}:${min}:00`;\n})()\n}}",
        "useDefaultReminders": "={{ false }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{\nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text).title\n}}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 60
            },
            {
              "method": "popup",
              "minutes": 30
            },
            {
              "method": "popup",
              "minutes": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        720,
        208
      ],
      "id": "",
      "name": "Create an event without Attendees",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{\n\"✅ Task '\" +\nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text).title +\n\"' scheduled for \" +\nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text).date +\n\" at \" +\nJSON.parse($node[\"Message a model\"].json.output[0].content[0].text).time\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -16
      ],
      "id": "",
      "name": "Task confirmation",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event with Attendees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an event without Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event with Attendees": {
      "main": [
        [
          {
            "node": "Task confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event without Attendees": {
      "main": [
        [
          {
            "node": "Task confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  
  "tags": []
}
